.shiny-text {
  color: white;
  background: linear-gradient(
    120deg,
    white 30%,
    #9eb7d9 45%,
    #5a91d6 50%,
    #9eb7d9 55%,
    white 70%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
