body {overflow-x: hidden}
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.skills-nav-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-list {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.skills-list .item {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 1rem;
}

.skills-list .item svg {
  vertical-align: middle;
  font-size: 1.2rem; /* adjust size of icons */
}